{% extends "mobile.html" %}
{% load auth_extras %}
{% block title %}Liquida Teresina{% endblock %}

{% block content %}

<div id="selectWorkstationModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Selecione o Posto de Trabalho</h5>
          </div>
          <div class="modal-body">
              <form id="selectWorkstationForm" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="posto_trabalho">Posto de Trabalho:</label>
                      <select class="form-control" id="posto_trabalho" name="posto_trabalho" required>
                          {% for posto in postos_trabalho %}
                          <option value="{{ posto.id }}">{{ posto.nome }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="confirmWorkstation">Selecionar</button>
          </div>
      </div>
  </div>
</div>

<!-- Exibir posto de trabalho selecionado -->
{% if user.profile.posto_trabalho %}
  <p>Posto de trabalho selecionado: {{ user.profile.posto_trabalho.nome }}</p>
{% endif %}

{% block scripts %}
<script>
  $(document).ready(function() {
      {% if show_popup %}
      $('#selectWorkstationModal').modal({
          backdrop: 'static',
          keyboard: false
      });
      $('#selectWorkstationModal').modal('show');
      {% endif %}
      
      $('#confirmWorkstation').click(function() {
          $.ajax({
              url: "{% url 'participante:definir_posto' %}",
              method: 'POST',
              data: $('#selectWorkstationForm').serialize(),
              success: function(data) {
                  console.log(data);
                  $('#selectWorkstationModal').modal('hide');
                  location.reload();  // Recarregar a página para mostrar o posto de trabalho selecionado
              },
              error: function(xhr, status, error) {
                  console.error(error);
              }
          });
      });
  });
</script>
{% endblock %}
<h1></h1>
<h1 style="margin-top: 70px;">Liquida Teresina</h1>


 <p>Bem vindo a sua conta do Liquida Teresina Colaborador. Agora você pode <a href="{% url 'participante:password_change' %}">mudar a sua senha</a>.</p>
    <h1>Participantes</h1>
    
    <p>
      {% comment %} BackOffice{{ is_backoffice }}
      Operador{{ is_operador }}
      Gerente{{ is_gerente }}
      Superivisor{{ is_supervisor }} {% endcomment %}
      {% if is_operador or is_supervisor or is_gerente%}
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url 'participante:register-op' %}">
        Adicionar Participante <span class="glyphicon glyphicon-plus"></span>
      </a>
      {% endif %}
      <!-- <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "participante:search" %}">
        Ver Participantes <span class="glyphicon glyphicon-user"></span>
      </a> -->
      {% if is_operador or is_supervisor or is_gerente %}
        <a type="button" id="mymodal" class="btn btn-info btn-lg" data-toggle="modal" href="{% url 'participante:search_by_cpf' %}">
          Buscar participante <span class="glyphicon glyphicon-search"></span>
        </a>
      {% endif %}
      {% comment %} {% if request.user.is_staff %} {% endcomment %}
      {% if is_backoffice or is_supervisor or is_gerente %}
      <a type="button" id="mymodal" class="btn btn-warning btn-lg" data-toggle="modal" href="{% url 'lojista:search_by_doc' %}">
        Reimprimir <span class="glyphicon glyphicon-print"></span>
      </a>
      {% endif %}
      {% comment %} {% endif %} {% endcomment %}
    
    </p>

    <h1>Lojistas</h1>
    <p>
      {% if user.profile.posto_trabalho %}
  <p>Posto de trabalho selecionado: {{ user.profile.posto_trabalho.nome }}</p>
{% endif %}

      {% if is_backoffice or is_gerente %}
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "lojista:register" %}">
        Adicionar Lojistas <span class="glyphicon glyphicon-plus"></span>
      </a>
      {% endif %}

      {% if is_operador or is_supervisor or is_gerente or is_backoffice %}
        <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "lojista:search" %}">
          Ver lojistas <span class="glyphicon glyphicon-home">
        </a>
      {% endif %}

      {% if is_backoffice or is_gerente %}
        <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "lojista:registeratividade" %}">
        Adicionar Ramo de atividade <span class="glyphicon glyphicon-plus"></span>
        </a>        
      {% endif %}

      {% if is_backoffice or is_gerente %}
      <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "lojista:listatividade" %}">
        Ver Ramos de atividade <span class="glyphicon glyphicon-tag">
      </a>
      {% endif %}

      {% if is_gerente %}
      <a type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url "lojista:register_localizacao" %}">
        Adicionar Localização <span class="glyphicon glyphicon-plus"></span>
        </a>      
      {% endif %}

      {% if is_gerente %}
      <a type="button" id="mymodal" class="btn btn-secondary btn-lg" data-toggle="modal" href="{% url "lojista:lista_localizao" %}">
        Ver Localização <span class="glyphicon glyphicon-tag">
      </a>
      {% endif %}

        
    </p>
    

{% endblock %}
