{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title data-react-helmet="true">Liquida Teresina - A maior Campanha do Varejo Piauiense</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Começou a maior campanha do varejo Piauiense! Liquida Teresina traz grandes descontos e prêmios para você. CLIQUE e participe">
<meta name="author" content="Marko Solution">
<!-- <title>Liquida Teresina</title> -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/2023/favicon.ico' %}">
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards%7CDosis:300,400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800;' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

<!-- Plugin CSS -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B58RJJBCY3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B58RJJBCY3');
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


{% block css %}
	
<style>
	#maquineta {
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		/* width: 750px; */
		width: 600px;
	}
	.tline-item-content{
		margin-bottom: 40px;
	}
	.modal-dialog {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}


	@media screen and (max-width: 768px){
		body > p {
			font-size: 100px;
		}
		.patrocinador > img {
			width: 460px;
			
		}
		#maquineta {
			margin-top: 0px;		
			margin-left: auto;
			margin-right: auto;
		}
		.logo-banner-prin {
			margin-top: 30px;
		}
		
}
	.background-div {
		background: linear-gradient(-45deg, #E8F8FF, #B3D8F1, #6EAAE6, #3B81D9);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  /* height: 100vh; */
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
  
	@keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
	}
	.background-orange {
    background: none; /* Remove o fundo para usar a imagem diretamente */   
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-premios-mobile2 {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 768px) {
    .img-premios-mobile2 {
        content: url("{% static 'img/2023/premios-mobile.png' %}");
        width: 100%;
        height: auto;
    }
}


	  /* .background-banner-liso {
		background: linear-gradient(45deg, #FFC700, #FFC700);
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	  } */
	  .background-banner-liso {
            background: 
                        url("{% static 'img/2023/fundo-amarelo.png' %}") no-repeat center center;
            background-size: cover;
            /* height: 100vh; */
            display: flex;
            align-items: center;
            justify-content: center;
        }

	  /* .bg-dark {
		padding: 40px 0;
		color: white; 
	  }
   */

   .justificado {
	text-align: justify;
   }
</style>

{% endblock %}
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		
		<a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'img/2023/logo.png' %}" alt="Logo Liquida Teresina" id="logo" class="img-responsive" style="width:65px; margin-top: -2px;"></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
			<a class="page-scroll" href="#page-top">Inicio</a>
			</li>
			<li>
			<a class="page-scroll" href="#about">Como funciona</a>
			</li>
			<li>
			<a class="page-scroll" href="#portfolio">Prêmios</a>
			</li>
			<li>
				<a class="page-scroll" href="#adesao_lojista">Cadastre sua Loja</a>
				</li>
			<li>
			<a class="page-scroll" href="https://drive.google.com/file/d/1SO2JvHxtS0rPsw5AGAg7n6p2SaToqRJ9/view?usp=drive_link">Regulamento</a>
			</li>
			<li>
			<a class="page-scroll" href="{% url 'participante:register' %}">Cadastre-se</a>
			</li>
			<li>
			<a class="page-scroll" href="https://api.whatsapp.com/send/?phone=558699285100&text=Ola+preciso+de+suporte&app_absent=0">Suporte</a>
			</li>
			{% if request.user.is_authenticated and request.user.is_superuser %}
			<li >
				<a style="color: #FBB65C" href="{% url 'lojista:homepage' %}">{{ request.user.username }} <span style="color: #30C778" class="glyphicon glyphicon-log-in"> </span></a>
			</li id="entrar">
			<li>
				<a href="{% url "participante:logout" %}">Sair</a>
			</li>

			{% elif user.is_authenticated %}
			<li style="color: #FBB65C">
				<a  href="{% url 'participante:dashboard' %}">{{ request.user.username }} <span style="color: #30C778" class="glyphicon glyphicon-user"></span></a>
			</li id="entrar">

			<li>
				<a href="{% url "participante:logout" %}">Sair</a>
			</li>
			{% else %}
			<li>
				<a data-toggle="modal" href="#myModal">Entrar <span style="color: #30C778" class="glyphicon glyphicon-log-in"></a>
			</li id="entrar">
			{% endif %}
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>


<!-- Modal HTML -->
<div class="modal" tabindex="-1" role="dialog" id="modalPosto" aria-labelledby="modalPostoLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{% url 'participante:definir_posto' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPostoLabel">Selecione seu posto de trabalho</h5>
                </div>
                <div class="modal-body">
                    <select name="posto_id" class="form-control">
                        {% for posto in postos %}
                            <option value="{{ posto.id }}">{{ posto.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Login -->
<div class="container">
	<!-- Login -->
	{% include 'participante/login_form.html' %}
	<!-- Fim login-->
</div>
<!-- Modal Login end -->

<!-- Section Intro Slider
================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">
	<!-- Indicators
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	-->
	<!-- Wrapper for slides -->
	<div class="background-banner-liso" role="listbox" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
		<!-- First slide -->
		<div class="item active">
			<div class="carousel-caption">
				<div data-animation="animated bounceInDown">
					<!-- Conteúdo da animação -->
				</div>
	
				<div data-animation="animated bounceInUp" class="logo-banner-prin">
					<img src="{% static 'img/2023/banner.png'%}" class="img-responsive" alt="logo-banner" style="width: 40rem; margin: 0 auto 0 auto; margin-top: -8px;">
				</div>
	
				<!-- <a href="{% url 'participante:register' %}" class="btn btn-primary btn-lg page-scroll blink_me" data-animation="animated fadeInRight">Cadastre-se aqui</a> -->
				<a href="#adesao_lojista" class="btn btn-primary btn-lg page-scroll blink_me" data-animation="animated fadeInRight">Cadastre sua Loja</a>
				<h3 style="font-weight: bold;">
					28/06/2024 A 07/07/2024
				</h3>
				<!-- Outro conteúdo -->
			</div>
		</div>
	</div>
</div>
	
</div>
<!-- /.carousel -->

<!--Maquineta da rede -->

  

<div class="background-div" >
	<img src="{% static 'img/2023/maq.png'%}" alt="Maquininha da rede" class="img-responsive"  alt="logo-banner" id="maquineta" style="margin-top: 20rem; margin-bottom: 20rem;">
</div>


<section id="tline">
<section id="about" style="padding-bottom: 0px;">
<div class="container">
<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading" class="h1"><b>COMO PARTICIPAR</b></h2>
		<br>
		<!-- <video autobuffer controls autoplay style="max-width: 100%; ">
	  		<source id="mp4" src="https://liquida2023.s3.us-east-2.amazonaws.com/videos/liquida2023.mp4">
		</video> -->
	</div>
</div>
<br><br><br>
</div>
<br/>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<ul class="tline-holder">
			<!-- tline ITEM-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-shopping-cart">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
						 Passo 1
					</div>
					
					<p>
						Separe as notas fiscais e comprovantes dos cartões das compras 
						realizadas nas lojas participantes do Liquida Teresina 2024, 
						durante os dias 28 de junho de 2024 a 07 de julho de 2024.
					</p>
					<!-- <a data-toggle="modal" href="#exampleModalLong">
  Lojas Parceiras
</a> -->
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- Modal -->
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-user">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Passo 2
					</div>
				
					<p>
						 Utilize qualquer equipamento com acesso a internet
						 (smartphone, tablet, ou computador) para entrar no site
						 da campanha
						 www.liquidateresina.com.br
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-car">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
						 Passo 3
					</div>
					<h3><a href="{% url 'participante:register' %}"></a>Faça seu cadastro</a></h3>
					<p>
						Os campos com asteriscos são de preenchimento obrigatório para a validação do cupom. 
						Os dados informados serão utilizados para entrar em contato com os contemplados, 
						portanto, preencha com muita atenção seus telefones, endereços e e-mail.

					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Passo 4
					</div>
					
					<p>
						
						Após realizar seu cadastro, é hora de cadastrar suas notas fiscais e comprovantes dos cartões. Lembrando que cada R$50,00 em compras dá direito a 1 cupom. Além disso:
						<ul>
							<li>Pagando na maquininha da PagBank ou com o cartão ELO = 3 cupons</li>
							<li>Com cartão ELO na maquininha PagBank = 5 cupons</li>
						</ul>						
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-left wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Passo 5
					</div>
					
					<p>
						Fotografe ou escaneie a nota fiscal e o comprovante do cartão.
						Caso a compra tenha sido realizada nas maquininhas do PagBank com cartão Elo,
						anexe a imagem no ícone específico.
						
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Passo 6
					</div>
					<h3> Pronto! Repita quantas vezes quiser </h3>
					<p>
						Quanto mais notas cadastradas, mais chances você terá de ser sorteado. 
						As notas fiscais cadastradas serão analisadas por um backoffice da campanha e o 
						status de validação e a quantidade de cupons gerados ficarão disponíveis no seu perfil 
						de usuário na plataforma para consulta. Caso haja alguma dúvida ou erro no envio, nossa 
						equipe entrará em contato via e-mail informado ou pelo campo de observação da plataforma.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<li class="tline-start">
			<div class="tline-start-content">
				<div class="tline-start-icon">
				</div>
				<a href="{% url 'participante:register' %}" class="btn btn-primary bgn-xl wow zoomIn page-scroll">CADASTRE-SE</a>
			</div>
			</li>
		</ul>
	</div>
</div>
</div>
</section>
</section>


<!-- Section Awards
================================================== -->
<section class="imagem-premios" style="margin-bottom: -7%;">
<div class="container-fluid">
<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading" id="premio"><b>PRÊMIOS</b>
		<hr class="primary">
	</div>
	<br><br><br>
</div>
</div>


<div class="">
    <div class="row no-gutter">
        <!-- <div class="col-12 text-center">  -->
            <img class="img-premios-mobile2 img-fluid w-100" src="{% static 'img/2023/premios.png' %}" id="portfolio">
        <!-- </div> -->
   
</div>

</section>






<!-- Section Contact
================================================== -->
<section id="adesao_lojista" style="margin-top: 10rem; margin-bottom: 10rem;">
	<h2 class="section-heading text-center text-black"><b>CADASTRE-SE</b></h2>
		<hr class="primary">
		<BR></BR><br>
<div class="container">
<div class="row">
	<div class="col-md-6">
		
		<!-- <h2 class="h2 mt-3">Amplie Seu Alcance Comercial com Liquida Teresina!</h2>
		<BR>
		<p class="justificado">Permita que seus clientes
			participem de uma das maiores campanhas de varejo do Piauí.
			 Ao comprar um kit de participação, suas vendas ganham um impulso significativo,
			  já que os clientes serão incentivados a comprar em sua loja para participarem
			   dos sorteios de prêmios incríveis.
		</p>
		<BR></BR> -->

		<h2 class="text-center">VANTAGENS:</h2>
		</BR>
		<ul class="justificado">
			<li>
				<b>Aumento nas Vendas:</b> A campanha motiva os consumidores a escolherem sua loja para realizar suas compras, proporcionando um incremento no fluxo de clientes.
			</li>
			<li>
			<b>Maior Alcance:</b> Participar da campanha posiciona sua loja como uma das preferidas pelos consumidores, que buscam as lojas participantes para concorrer aos prêmios, ampliando assim o reconhecimento do seu negócio.
			Não perca essa chance única! Cadastre-se hoje e veja seu negócio prosperar!   
			</li>
		</ul><br>
		<br>	   
   	</div>

	
	<div class="col-md-6 ">
		
		

		<div class="regularform">
			<div class="done">
				<!-- {% if messages %}
				<div class="messages">
					{% for message in messages %}
					<div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'info' %}alert-info{% endif %}">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{{ message }}
					</div>
					{% endfor %}
				</div>
				{% endif %} -->
				{% if form_adesao.errors %}
<div class="error-summary">
    <ul>
    {% for field in form_adesao %}
        {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
			</div>
			
			<form method="post" id="formAdesao" class="text-left">
				{% csrf_token %}
                <input type="hidden" name="form_type" value="form_adesao">

				<input name="cnpj" type="text" class="col-md-6" placeholder="Seu CNPJ *" id="cnpj">
				<input name="razao_social" type="text" class="col-md-12" placeholder="Razão Social *" id="razao_social">
				<input name="fantasia" type="text" class="col-md-12" placeholder="Fantasia *" id="fantasia">
				<input name="email" type="email" class="col-md-6" placeholder="Email *" id="email">
				<input name="telefone" type="tel" class="col-md-6" placeholder="Telefone *" id="telefone">			
				<!-- <button type="submit" name="submit" id="submit" class="contact submit btn btn-primary btn-xl">Cadastrar</button> -->
				<div class="form-group text-right">
					<button class="btn btn-primary">Faça sua Adesão</button>
				</div> 
			</form>
			<div id="adesao-message"></div>
		</div>
	</div>
</div>
</div>
</section>

<!-- Section Social
================================================== -->
<section id="social" class="parallax parallax-image"  style="background-color:#61adff">
	<!-- <img src="" alt=""> -->
<div class="overlay" style="background:#222;opacity:0.0;">
</div>
<div class="wrapsection">
<div class="container">
	<div class="parallax-content">
		<div class="row wow fadeInLeft">
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="https://www.instagram.com/cdlteresina/"target="_blank"><i class="fa fa-instagram"></i></a>
					</div>
					<h4>Instagram</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="https://www.facebook.com/cdlteresina/" target="_blank"><i class="fa fa-facebook"></i></a>
					</div>
					<h4>Facebook</h4>
				</div>
			</div>

			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="http://www.cdlteresina.com.br/" target="_blank"><i class="fa fa-building"></i></a>
					</div>
					<h4>CDL Teresina</h4>
				</div>
			</div>

			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon" id="suporte">
						<a href="https://wa.me/5586999285100?text=Ola%20preciso%20de%20suporte" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
					</div>
					<h4>Suporte</h4>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</section>
<div class="clearfix">
</div>

<!-- Section Footer
================================================== -->
<div class="img-patrocinio" style="width: 100%; text-align: center;">
	<img src="{% static 'img/2023/patron.png' %}" style="max-width: 100%;" class="patrocinador">
  </div>
<section class="bg-dark" >
<div class="container">
<div class="row">
	<div class="col-md-12 text-center">
		<!-- <span><a href="#page-top"><img src="{% static 'img/2023/logo.png' %}" alt="liquida" id="logo" align="center" class="img-responsive" style="width:65px; ma"></a></span>-->
		<p> 
			<span>Copyright &copy; <a href="http://www.markosolution.com.br/" target="_blank">Marko Solution</a></span>
		</p>
	</div>
</div>
</div>
</section>

<!-- <script>
	var video = document.getElementById("mp4");
  
	// Evento para iniciar a reprodução do vídeo quando a página for carregada
	video.addEventListener("loadedmetadata", function() {
	  video.play();
	});
</script> -->

{% comment %} <script>
	console.log("estou aqui no index.html")
	$ ( documento ). ready ( function () {              
		$ ( '#myModal' ). modal ( 'show' ); 
		  $ ( function () { 
			$ ( '[data-toggle="tooltip"]' ). dica de ferramenta () }) });   
		  
		
</script> {% endcomment %}


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/countto.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/masks.js' %}"></script>
<noscript>Seu navegador não suporta JavaScript!</noscript>
<script>
	$(document).ready(function() {
		$('#loginForm').on('submit', function(event) {
			event.preventDefault();
			$.ajax({
				url: "{% url 'participante:homepage' %}",
				type: "POST",
				data: $(this).serialize(),
				success: function(response) {
					if (response.login_error) {
						$('#password-errors').html(response.errors.password);
						$('#myModal').modal('show');
					} else {
						window.location.href = response.redirect_url;
					}
				},
				error: function(xhr, errmsg, err) {
					console.log(xhr.status + ": " + xhr.responseText);
				}
			});
		});

		
		
	});
</script>
</body>
</html>