{% extends "mobile.html" %}
{% load bootstrap4 %}

{% block title %}Resetar sua senha{% endblock %}

{% block content %}
<div class="form-group col-md-4">
    <div class="container">
        <h1 style="margin-top: 70px;">Esqueci minha senha</h1>
    <p>Para redefinir a sua senha, informe a sua conta de Email</p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}        
        <!-- {% bootstrap_form form show_label=False layout='horizontal' show_help=True %} -->
       
        <p><input type="submit" class="btn btn-primary btn-lg" value="Enviar email"></p>
        
    </form>
</div>
    </div>
{% endblock %}
